.dashContainer {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  flex-wrap: wrap;
  background: rgb(228, 243, 238);
  padding: 2rem 1rem;
  height: 90vh;
}

.dashCardContainer {
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-direction: column;
  gap: 5px;
  width: 300px;
}
